# for URI=/staff.html set an env variable PROTECTED=1
SetEnvIfNoCase Request_URI "/staff\.html" PROTECTED

# allow all pages but put PROTECTED=1 behind basic auth
AuthType Basic
AuthName "Restricted access"
AuthUserFile "\Users\tayla\OneDrive\Documents\BIT607\607Haukai.htpasswd"
Require valid-user
Satisfy    any
Order      Allow,Deny
Allow from all
Deny from env=PROTECTED